<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a href="#" class="navbar-brand">Angular HTTP</a>
  <div class=" mx-auto">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/temp">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/child">Post</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <app-pcomp></app-pcomp> -->
<router-outlet></router-outlet>